.spinner {
     width: 40px;
     height: 40px;
     font-size: small;
     border-radius: 50%;
     border: 9px dashed;
     border-color: #dbdcef;
     border-color: blue red orange yellow;
     animation: spinner-d3wgkg 1s infinite linear;
}



@keyframes spinner-d3wgkg {
     to {
          transform: rotate(1turn);
     }
}